
@{
    ViewBag.Title = "DisplayResult";

    int sum;
    float per;
    sum = Convert.ToInt32(TempData["theory"]) + Convert.ToInt32(TempData["pracs"]) + Convert.ToInt32(TempData["oral"]);
    per = sum / 3.0f;
}

<h2>Mark Sheet</h2>
Student Name is @TempData["sname"]<br />
Adress @TempData["adress"]<br />

<table border="1">
    <tr>
        <td>Thoery</td>
        <td>@TempData["theory"]</td>

    </tr>

        <tr>
        <td>Pracs</td>
        <td>@TempData["pracs"]</td>

    </tr>
           <tr>
       <td>Oral</td>
       <td>@TempData["Oral"]</td>

   </tr>
               <tr>
       <td>Total</td>
       <td>@sum</td>

   </tr>
                   <tr>
       <td>Percentage</td>
       <td>@per</td>

   </tr>

</table>


